body {
    padding-top: 60px;
    padding-bottom: 40px;
}
a:active,
a:focus {
    outline: none;
}
.sidebar-nav {
    padding: 9px 0;
}
.controls > p {
    padding-top: 5px;
}
.controls > ul,
.controls .related-widget-wrapper > ul {
    list-style-type: none;
    padding-left: 0px;
}
.controls > ul label,
.controls .related-widget-wrapper > ul label {
    font-size: 14px;
}
.controls > ul .form-control,
.controls .related-widget-wrapper > ul .form-control {
    height: auto;
    margin: 9px 0;
}
.controls .related-widget-wrapper {
    float: none;
}
.controls .related-widget-wrapper-link {
    display: inline-block;
    margin: 7px 7px 3px 7px;
}

/* SELECTOR (FILTER INTERFACE) */
.selector .selector-filter {
    border: 0px solid #ccc;
    border-width: 0 0px;
    padding: 4px 0px 4px 0px;
}
.selector .selector-filter label {
    display: none;
}
.selector select {
    height: 17.2em;
    width: 100%; /* fix offscreen scroll-bar on selector-chosen */
    border: 1px #ccc solid;
}
.selector .selector-chosen select {
    border-top: 0;
}
/* fix offscreen scroll-bar on selector-chosen */
.selector-available, .selector-chosen {
    width: 47%;
}
/* selector object list */
.selector > .selector-available > select, .selector > .selector-chosen > select {
    font-size: 12px;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/* selector object list items */
.selector > .selector-available > select > option, .selector > .selector-chosen > select > option {
    padding: 6px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(211, 211, 211, 0.35);
    border-bottom-style: solid
}
/* selector field title */
.selector > .selector-available > h2, .selector > .selector-chosen > h2 {
    text-align: left;
    background: rgba(211, 211, 211, 0.2);
    color: #777;
    border: 1px solid #ccc;
    border-bottom: none;
    font-size: 100%;
    font-weight: 600;
    margin: 0px;
    padding: 10px 0px 6px 10px;
    height: 36px;
    border-radius: 4px 4px 0px 0px;
}
/* selector filter box bootstrapping */
.selector .selector-available input {
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.selector .selector-available p {
    background: rgba(211, 211, 211, 0.2);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 0px 7px 6px;
}
/* selector chooseall and clearall button spacing */
a.selector-chooseall {
    padding: 0px 20px 3px 0;
}
a.selector-clearall {
    padding: 0px 0 3px 20px;
}

.checkbox{
    padding-bottom: 5px;
}
.checkbox label {
    margin-bottom: -20px;
}
.checkbox .help-block {
    margin-top: 0;
}

fieldset.collapse {
    height: inherit;
}
.add-row {
    margin-bottom: 20px;
}
legend a:hover {
    text-decoration: none;
}

.wide label {
    width: auto !important;
}


/* change_list actions */
.actions {
    display: inline-block;
}
.actions select {
    margin-top: 5px;
    display: inherit;
    width: inherit;
}
.action-counter {
    margin-left: 5px;
    vertical-align: sub;
}

/* change_list table display */
th.action-checkbox-column {
    width: 1.5em;
    text-align:center;
}

td.action-checkbox {
    text-align:center;
}

.tooltip.in {opacity: 1} /* Hard to see against black text otherwise */

#_changelist {clear: both;}

.scrollable-dropdown-menu {
    overflow-x: hidden;
    max-height: 322px;
}

.scrollable-dropdown-menu li form a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

#content-main {
    clear: both;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
    display: table;
  }
}
@media (min-width: 970px) {
  .form-horizontal .control-label {
    text-align: right;
    display: table;
  }
}

/* bootstrap 3.2 change */
.checkbox input[type="checkbox"] {
    position: static;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}

/* admin/css/forms.css makes labels too small */
.control-label label {
    font-size: 14px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}

#content-navbar-collapse .btn-primary {
    color: #fff;
    padding: 6px 12px;
    margin-top: 8px;
}

#content-navbar-collapse .btn-primary:hover,
#content-navbar-collapse .btn-primary:focus {
    background-color: #265a88;
}

.form-control-inline {
    width: auto;
    display: inline;
}

.spacer {
    margin-bottom: 20px;
    clear: both;
}

/* FILE UPLOAD WIDGET*/
p.file-upload {
    line-height: 29px;
    margin: 1;
    padding: 2px 0px 10px 0px;
    color: #666;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}
p.file-upload > input[type="file"] {
    display: inline;
    margin-left: 5px;
}

.pagination .this-page {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

            html,
            body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f2eee8 !important;
}

.face {
  width: 300px;
  height: 300px;
  border: 4px solid #383a41;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
}

.face .band {
  width: 350px;
  height: 27px;
  border: 4px solid #383a41;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 50px;
}
.face .band .green {
  height: calc(100% / 3);
  width: 100%;
  background-color: #008000;
}
.face .band .white {
  height: calc(100% / 3);
  width: 100%;
  background-color: #fff;
}
.face .band .red {
  height: calc(100% / 3);
  width: 100%;
  background-color: #ff0000;
}

.face .mouth {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #383a41;
  margin: 0 auto;
  margin-top: 45px;
}
h1 {
  font-weight: 800;
  color: #383a41;
  text-align: center;
  font-size: 2.5em;
}

.eyes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #888787;
}
.pupil {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #888787;
}

#content .navbar.navbar-default{ display: none;}